@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: #a7bb99;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #2a2e45;
}
.header {
  text-align: center;
}
.header h1 {
  margin-top: 50px;
}
.header h3 {
  background-color: #e8cdd5;
  margin: 0 5%;
  padding: 5px;
  border-radius: 8px;
  border: solid #a43154;
}
.projects-container {
  width: 45%;
  float: left;
  padding-left: 0;
  box-sizing: border-box;
}
.projects-container h3 {
  text-align: center;
}
.projects-container h4 {
  margin-top: 0;
}
.projects-container ul {
  list-style: none;
}
.project {
  background-color: #cbd081;
  padding: 13px;
  margin: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  border: solid #417b5a;
}

.about h3 {
  text-align: center;
  margin-bottom: 0;
}
.name {
  font-weight: bolder;
}
.about-content {
  width: 50%;
  float: right;
  background-color: #9fbdc6;
  color: #2a2e45;
  margin: 20px 20px 0 0;
  padding: 14px;
  border-radius: 8px;
  box-sizing: border-box;
  border: solid #2a2e45;
}
.about-content img {
  width: 45%;
  box-sizing: border-box;
  float: right;
  border-radius: 8px;
  margin-left: 10px;
}
.about-content p {
  margin: 0;
}
.goals {
  width: 50%;
  float: right;
  background-color: #80b195;
  padding: 14px;
  border-radius: 8px;
  margin: 20px 20px;
  box-sizing: border-box;
  border: solid #2a2e45;
}
@media screen and (min-width: 300) and (max-width: 480px) {
  .header {
    width: 100%;
    float: left;
  }
  .projects-container {
    width: 100%;
    float: left;
  }
  .about-content {
    width: 100%;
    float: left;
    margin: 10px;
  }
  .goals {
    width: 100%;
    float: left;
    margin: 10px;
  }
}
