@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  background-color: #a7bb99;
  font-family: Comfortaa, sans serif, monspace;
}
.about {
  width: 50%;
  float: right;
}
.about img {
  width: 50%;
  box-sizing: border-box;
  float: right;
  border-radius: 8px;
}
.about h3 {
  text-align: center;
}
.projects-container {
  width: 30%;
  float: left;
}
.projects-container h3 {
  text-align: center;
}
.projects-container h4 {
  margin-top: 0;
}
.projects-container ul {
  list-style: none;
}
.project {
  background-color: #CBD081;
  padding: 13px;
  margin: 15px;
  border-radius: 8px;
}