@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  background-color: #a7bb99;
  font-family: Comfortaa, sans serif, monspace;
  color: #2A2E45;
}
.header {
  text-align: center;
}
.header h1 {
  margin-top: 50px;
}
.header h3 {
  background-color:#E8CDD5;
  margin: 0 5%;
  padding: 5px;
  border-radius: 8px;
}
.about {
  width: 50%;
  float: right;
  background-color:#9FBDC6;
  color: #2A2E45;
  margin-top: 60px;
  padding: 14px;
  border-radius: 8px;
}
.about img {
  width: 45%;
  box-sizing: border-box;
  float: right;
  border-radius: 8px;
}
.about h3 {
  text-align: center;
  margin-top: 0;
}
.projects-container {
  width: 45%;
  float: left;
  padding-left: 0;
  box-sizing: border-box;
}
.projects-container h3 {
  text-align: center;
}
.projects-container h4 {
  margin-top: 0;
}
.projects-container ul {
  list-style: none;
}
.project {
  background-color: #CBD081;
  padding: 13px;
  margin: 15px;
  border-radius: 8px;
}
